.login-container {
  background-color: white;
  max-width: 400px;
  margin:80px auto;
  padding:20px;
  border-radius:8px;
  box-shadow: 0 2px 10px rgba(35, 27, 194, 0.552);
}
.form-group {
  margin-bottom: 15px;}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}


input{
    width:100%
}

body{
  background-color: aqua;
}

